body {
  margin: 0;

  background: linear-gradient(to bottom, black, #441f66);
  color: #d8d5d5;
}

p,
h1,
h2,
h3,
h4 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;

  color: #d8d5d5 !important;
}
